<h2>Create New Listing</h2>

<%= form_for([@user, @listing]) do |f| %>
  Choose an album from database to list:<br>
  <%= collection_select(:listing, :album_id, Album.order(:artist), :id, :artist_with_title, prompt: true) %>
  <% @listing.errors[:album_id].each do |error| %>
    <div id='error_explanation'><%= inline_errors(@listing, :album_id) %></div>
  <% end %><br>
  <small><a id="new-album-form" href="#">or add a new album to database first</a></small>
  <div id="new-album-form-div"></div><br><br>
  <%= render partial: 'form', locals: { :f => f} %>
  <%= f.submit 'Create Listing' %>
<% end %>
