<h2><%= link_to @listing.album.artist, "/albums/by_artist/#{@listing.album.artist.parameterize}" %> - <%= link_to @listing.album.title, album_path(@listing.album) %></h2>
<h3>Sold by <%= link_to "#{@listing.user.username}", user_path(@listing.user) %></h3>

<br><b>Condition: </b><%= @listing.condition %><br>
<b>Price:</b> $<%= @listing.price %><br>
<% if @listing.notes != nil %>
  <b>Additional Notes:</b><br>
  <div class="margin"><% @listing.notes.each do |note| %>
   <%= note %><br>
  <% end %></div>
<% end %>

<br>If you would like to purchase this item or have any questions then please email: <%= mail_to @listing.user.email %><br><br>

<% if @listing.user == current_user %>
  <%= button_to 'Edit Listing', edit_user_listing_path(current_user, @listing), method: :get %>
  <%= button_to 'Delete Listing', user_listing_path(current_user, @listing), method: :delete %>
<% end %>
