<h2><%= @listing.album.artist %> - <%= @listing.album.title %></h2>
<h3>Sold by <%= @listing.user.username %></h3>

<br>Condition: <%= @listing.condition %><br>
Price: $<%= @listing.price %><br><br>

If you would like to purchase or request more information then please email <%= @listing.user.username %> at <%= @listing.user.email %>.
