<%= form_for(@album) do |f| %>
  <%= f.label :artist %>:<br>
  <%= f.text_field :artist %>
  <% @album.errors[:artist].each do |error| %>
    <div id='error_explanation'><%= inline_errors(@album, :artist) %></div>
  <% end %><br><br>
  <%= f.label :title %>:<br>
  <%= f.text_field :title %>
  <% @album.errors[:title].each do |error| %>
    <div id='error_explanation'><%= inline_errors(@album, :title) %></div>
  <% end %><br><br>
  <%= f.label :release_year, 'Release Year' %>:<br>
  <%= f.text_field :release_year %>
  <% @album.errors[:release_year].each do |error| %>
    <div id='error_explanation'><%= inline_errors(@album, :release_year) %></div>
  <% end %><br><br>
  <%= f.label :genre %>:<br>
  <%= f.text_field :genre %>
  <% @album.errors[:genre].each do |error| %>
    <div id='error_explanation'><%= inline_errors(@album, :genre) %></div>
  <% end %><br><br>
  <%= f.submit 'Create Album' %>
<% end %>
